workflows/Transcrição/e7d8YI5pfWO1ZwBz.json
{
  "active": false,
  "connections": {
    "Infos": {
      "main": [
        [
          {
            "node": "If é Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If é Audio": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa audio1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Transcreve audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve audio": {
      "main": [
        [
          {
            "node": "Envia Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixa audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-07T22:24:57.691Z",
  "id": "e7d8YI5pfWO1ZwBz",
  "isArchived": false,
  "meta": null,
  "name": "Transcrevendo_audio_com_GROQ_EVOv2",
  "nodes": [
    {
      "parameters": {
        "content": "## Transcrevendo audio com GROQ\n**https://console.groq.com/docs/speech-text**\n**Adicionar o Webhook na Instancia da EVO 2.1.0**",
        "height": 287.51062369277696,
        "width": 1532.8393706769311
      },
      "id": "6dde0fbb-c2f3-4f7b-b4e6-97feb40cb48f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47fe3562-a12e-4e6c-8c7b-5daa2cccff95",
              "name": "token_groq",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ec3d1786-2ba9-4beb-8704-e310331e205d",
      "name": "Infos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "141e932b-5547-41bf-a393-623049e6d9f2",
              "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67eb9e6f-06a6-414c-b5b2-b02fd020d47d",
      "name": "If é Audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        340,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "65cbb8a0-5da9-4c09-8e14-32a91dc80d2a",
      "name": "Baixa audio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        100
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mp3"
        }
      },
      "id": "49f644a8-f69c-40ab-bf3b-fedae94a5df6",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        940,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Infos').item.json.token_groq }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "temperature",
              "value": "0.5"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "54de4d6b-512b-42ee-bd8d-74d0ebf4413d",
      "name": "Transcreve audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "=*Transcrito por LiveHelp*\n\n{{ $json.text }}"
            },
            {
              "name": "options.delay",
              "value": "={{1200}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f231f1ca-a750-4b75-a910-968e47d5225a",
      "name": "Envia Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc743c8c-d645-44c3-840f-066abc2b6b8d",
        "options": {}
      },
      "id": "0bc56e76-f078-4bad-999f-9d8a214d38f2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        100
      ],
      "webhookId": "f1af2a90-8a07-4a2e-955a-2dd5886674e8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[1] }}",
                    "rightValue": "s.whatsapp.net",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "06131bb5-2bab-4da6-919b-a82d345209aa",
                    "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                    "rightValue": "xxxxxxxxxxxxx@g.us",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "56f84ed3-3c0b-43e6-9a6c-50d03fc51221",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        540,
        100
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-25T14:33:57.438Z",
      "updatedAt": "2024-09-25T14:33:57.438Z",
      "id": "q38EfMqH5NGrG5ds",
      "name": "Transcrição"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-11-11T15:21:59.852Z",
  "versionId": "5affe1be-aa68-4c35-8cfa-38e5ae0aa21f"
}