workflows/Time SDR/ovjeDHMNHR1N2YJ1.json
{
  "active": false,
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Row with data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Procura Empresas e dados AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get rows to enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows to enrich": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Procura Empresas e dados AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Researcher Output Data": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Get rows to enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Row with data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get website content": {
      "ai_tool": [
        [
          {
            "node": "Procura Empresas e dados AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Serper API": {
      "ai_tool": [
        [
          {
            "node": "Procura Empresas e dados AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Procura Empresas e dados AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Procura Empresas e dados AI": {
      "main": [
        [
          {
            "node": "AI Researcher Output Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Procura Empresas e dados AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-02T16:26:06.846Z",
  "id": "ovjeDHMNHR1N2YJ1",
  "isArchived": false,
  "meta": null,
  "name": "Buscar_dados_de_Listas_de_Empresas-19",
  "nodes": [
    {
      "parameters": {},
      "id": "0986e952-bcae-45ab-8a9a-d06fe282d3c9",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        620,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcc97354-b9f6-4459-a004-46e87902c77c",
              "name": "company_input",
              "type": "string",
              "value": "={{ $json.input }}"
            },
            {
              "id": "e5415c49-5204-45b1-a0e9-814157127b12",
              "name": "row_number",
              "type": "number",
              "value": "={{ $json.row_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "05313062-cbfa-4795-927b-300f2d2cab9d",
      "name": "Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "e1e61011-c1d4-4f0b-a98d-ecb877fc1dd3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1860,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "get_website_content",
        "description": "This tool will return the text from the given URL. ",
        "source": "parameter",
        "workflowJson": "{\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"2b1cc1a8b0a2fb9caab11ab2d5eb3712f9973066051b2e898cf4041a1f2a7757\"\n  },\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"475eaf3c-7e11-457e-8b72-4d3e683e2f80\",\n      \"name\": \"Execute Workflow Trigger\",\n      \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        260,\n        340\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.query.url }}\",\n        \"options\": {}\n      },\n      \"id\": \"321fbc74-d749-4f9b-954e-7cad37601ddf\",\n      \"name\": \"Visit Website\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        440,\n        340\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"extractHtmlContent\",\n        \"extractionValues\": {\n          \"values\": [\n            {\n              \"key\": \"body\",\n              \"cssSelector\": \"html\",\n              \"skipSelectors\": \"head\"\n            }\n          ]\n        },\n        \"options\": {\n          \"cleanUpText\": true\n        }\n      },\n      \"id\": \"6e51732a-4999-4805-838b-f692e9965197\",\n      \"name\": \"HTML\",\n      \"type\": \"n8n-nodes-base.html\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        620,\n        340\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute Workflow Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Visit Website\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Visit Website\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"HTML\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {\n    \"Execute Workflow Trigger\": [\n      {\n        \"query\": {\n          \"url\": \"https://www.lemlist.com\"\n        }\n      }\n    ]\n  }\n}",
        "responsePropertyName": "body",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"url\": \"https://www.lemlist.com\"\n}"
      },
      "id": "60d5c2dd-2865-4b66-ae7a-f41c3dbd4825",
      "name": "Get website content",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        2100,
        780
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\n    \"domain\": \"mesquitapresents.com.br\",\n    \"nome_fantasia_empresa\": \"Mesquita Presents\",\n    \"telefone\": \"99 36391650\",\n    \"whatsapp\": \"99992027458\",\n    \"whatsapp2\": \"\",\n    \"email\": \"sac@mesquitapresents.com.br\",\n    \"email2\": \"compras@email.com\",\n    \"email3\": \"joao@email.com.br\",\n    \"nome_proprietário \": \"Joao Antonio\",\n    \"descrição_empresa\": \"\",\n    \"state\": \"Maranhão\",\n\t\"cities\": [\"Sao luis\", \"Sao mateus do maranhão\", \"anajatuba\"]\n  \n}"
      },
      "id": "5c54d9a2-0aa0-4a7e-aa2e-699af4fa2b6a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2580,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "b33d71de-b2f9-4cf0-b8d6-284d9fc49ad6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1300,
        480
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3323a4b9-e90a-4943-9117-7b01301f835b",
              "name": "output.nome_fantasia_empresa",
              "value": "={{ $json.output.nome_fantasia_empresa }}",
              "type": "string"
            },
            {
              "id": "4c420ba6-581b-4026-8b6c-7c40f89f5f58",
              "name": "output.telefone",
              "value": "={{ $json.output.telefone }}",
              "type": "string"
            },
            {
              "id": "d5fe73e4-e1f6-4371-a463-427806077d2a",
              "name": "output.whatsapp",
              "value": "={{ $json.output.whatsapp }}",
              "type": "string"
            },
            {
              "id": "78fda34a-74b5-4c42-b8e5-ceee2efd6574",
              "name": "output['descrição_empresa']",
              "value": "={{ $json.output['descrição_empresa'] }}",
              "type": "string"
            },
            {
              "id": "007ad83d-171e-4991-85ec-ce93c28c91e3",
              "name": "output.state",
              "value": "={{ $json.output.state }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88056acc-4d0d-4b6e-b84a-325896bf42f4",
      "name": "AI Researcher Output Data",
      "type": "n8n-nodes-base.set",
      "position": [
        2680,
        480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KG27gl88w_xTWxdb--itw7fmz91KX4ShFqMEhbY_HtA",
          "mode": "list",
          "cachedResultName": "planilha for criar listas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KG27gl88w_xTWxdb--itw7fmz91KX4ShFqMEhbY_HtA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KG27gl88w_xTWxdb--itw7fmz91KX4ShFqMEhbY_HtA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enrichment_status": "done",
            "input": "={{ $json.company_input }}",
            "nome_fantasia_empresa": "={{ $json.output.nome_fantasia_empresa }}",
            "telefone": "={{ $json.output.telefone }}",
            "whatsapp": "={{ $json.output.whatsapp }}",
            "descrição_empresa": "={{ $json.output['descrição_empresa'] }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome_fantasia_empresa",
              "displayName": "nome_fantasia_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp2",
              "displayName": "whatsapp2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email2",
              "displayName": "email2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email3",
              "displayName": "email3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome_proprietário ",
              "displayName": "nome_proprietário ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descrição_empresa",
              "displayName": "descrição_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "8d357d48-ecb4-4365-9a04-ee66ee4e12aa",
      "name": "Google Sheets - Update Row with data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3300,
        840
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fzfV64LpzABP19xE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b8956ef9-1864-40c9-988d-7dfc8dbccc76",
      "name": "Merge data",
      "type": "n8n-nodes-base.merge",
      "position": [
        2940,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KG27gl88w_xTWxdb--itw7fmz91KX4ShFqMEhbY_HtA",
          "mode": "list",
          "cachedResultName": "planilha for criar listas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KG27gl88w_xTWxdb--itw7fmz91KX4ShFqMEhbY_HtA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KG27gl88w_xTWxdb--itw7fmz91KX4ShFqMEhbY_HtA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "enrichment_status"
            }
          ]
        },
        "options": {}
      },
      "id": "484f242c-9a3a-4459-9e41-e5f74adf50d0",
      "name": "Get rows to enrich",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        840,
        480
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fzfV64LpzABP19xE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "c2a7e71d-80f9-44f4-a294-f266e253a998",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        620,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "7249fcc0-edd7-4e4a-8001-646f7e76cc01",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1720,
        780
      ],
      "credentials": {
        "groqApi": {
          "id": "SyVPdz0fjEP1xkZy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "b1cd95f081e73957e1378e9cdc43d5a1b6a562b2"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "q",
              "valueProvider": "fieldValue"
            },
            {
              "name": "location",
              "valueProvider": "fieldValue",
              "value": "Brazil"
            },
            {
              "name": "gl",
              "valueProvider": "fieldValue",
              "value": "br"
            },
            {
              "name": "hl",
              "valueProvider": "fieldValue",
              "value": "pt-br"
            }
          ]
        }
      },
      "id": "14c4b27e-592e-42e2-bd28-7785eb0fdc7c",
      "name": "Serper API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1980,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1f16c189-3eaa-4d6d-9295-1fa28e195f69",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1260,
        260
      ],
      "webhookId": "114403b8-556b-48cd-8b71-84d63e4f17e6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the company I want you to research info about:\n{{ $json.company_input }} e também quado solicitado pelo {{ $json.chatInput }}\n\nReturn me:\n- Nome Fantasia da razão social no {{ $json.company_input }}\n- O dominio , se tiver ([domain].[tld])\n- Descrição da Empresa: O que a empresa oferta no mercado, o que ela faz o que vende, quanto tempo existe... Quero um resumo pequeno de no maximo 250caracteres \n- Telefone da empresa, whatsapp, todos os contatos que conseguir... \n- email ou emails da empresa, de contato com a empresa\n- forneça me o nome do proprietario da empresa ou proprietários ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant scraper",
          "maxIterations": 10
        }
      },
      "id": "1196ea13-2288-484e-a60f-0717558efef9",
      "name": "Procura Empresas e dados AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1900,
        440
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-02T16:26:12.693Z",
      "updatedAt": "2024-09-02T16:26:12.693Z",
      "id": "ZMRhVWMYcWSE3M3y",
      "name": "Time SDR"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-02T22:28:40.306Z",
  "versionId": "a1867398-5399-45e7-8b9c-fa15b9692f3a"
}