workflows/MEGABUY/2nkDg3XjjNJGMuNc.json
{
  "active": false,
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Campos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente1": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Campos2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente2": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Campos3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente3": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos3": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Campos4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente4": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos4": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Campos5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente5": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos5": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Cria pasta do cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria pasta do cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria pasta do cliente2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria pasta do cliente3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria pasta do cliente4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria pasta do cliente5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria pasta do cliente6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Checar o pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Google Docs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Google Docs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Google Docs5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "ChatWoot9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "ChatWoot7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs2": {
      "main": [
        [
          {
            "node": "ChatWoot11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs3": {
      "main": [
        [
          {
            "node": "ChatWoot13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs4": {
      "main": [
        [
          {
            "node": "ChatWoot15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs5": {
      "main": [
        [
          {
            "node": "ChatWoot17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot7": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot9": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "atualiza",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot11": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot13": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot15": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot17": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Campos6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do cliente6": {
      "main": [
        [
          {
            "node": "copia recibo para a pasta6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copia recibo para a pasta6": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs6": {
      "main": [
        [
          {
            "node": "ChatWoot18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Google Docs6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWoot18": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos6": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar o pagamento": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Quepasa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-11T19:56:32.150Z",
  "id": "2nkDg3XjjNJGMuNc",
  "isArchived": false,
  "meta": null,
  "name": "Recibos Megabuy",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "={{ \n  $('n8n Form Trigger').item.json['Quantidade ?'] == 1 \n    ? 320 \n    : $('n8n Form Trigger').item.json['Quantidade ?'] == 2 \n      ? 600 \n      : $('n8n Form Trigger').item.json['Quantidade ?'] * 280 \n}}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}",
              "matchCase": "={{ false }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "matchCase": "={{ false }}"
            }
          ]
        }
      },
      "id": "ecacdb30-ee97-4c08-8501-595c0a594b7e",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        0,
        760
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "recibo",
        "formTitle": "Formulário de recibo",
        "formDescription": "Preencha com os dados do solicitante",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Serviço contratado?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Visto Americano"
                  },
                  {
                    "option": "Passaporte Brasileiro"
                  },
                  {
                    "option": "Visto Australiano"
                  },
                  {
                    "option": "ESTA Americano"
                  },
                  {
                    "option": "ETA Canadense"
                  },
                  {
                    "option": "Visto Chines"
                  },
                  {
                    "option": "ETA UK "
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Nome completo",
              "placeholder": "William Scarpelli",
              "requiredField": true
            },
            {
              "fieldLabel": "CPF",
              "placeholder": "254.123.321-69 coloque os pontos e os traços",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "placeholder": "email@email.com",
              "requiredField": true
            },
            {
              "fieldLabel": "whats",
              "placeholder": "11988272170 sem o 55",
              "requiredField": true
            },
            {
              "fieldLabel": "Quantidade ?",
              "placeholder": "{{qtdade}}",
              "requiredField": true
            },
            {
              "fieldLabel": "Endereço completo",
              "placeholder": "rua 1, nº2 bairro 3 CEP 123",
              "requiredField": true
            },
            {
              "fieldLabel": "Forma pagamento",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Débito"
                  },
                  {
                    "option": "Crédito"
                  },
                  {
                    "option": "PIX"
                  },
                  {
                    "option": "Dinheiro"
                  },
                  {
                    "option": "Devolução"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "bded3f67-7779-438c-9ad9-4d23a08d0d0f",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -3080,
        1540
      ],
      "webhookId": "1704902c-f55c-4383-914e-09714fac3f55"
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor = $('Edit Fields').item.json.preco; // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "c5382ff6-ee81-4550-9b06-f07c10ab014a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        660
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER USA - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e5eb06e4-dcf7-4d51-91e9-55fadb27b7d1",
      "name": "Cria pasta do cliente",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1080,
        680
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4416107f-cc9b-4ae5-b054-58b42d115639",
      "name": "copia recibo para a pasta",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -880,
        660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "={{    $('n8n Form Trigger').item.json['Quantidade ?'] == 1      ? 320     : $('n8n Form Trigger').item.json['Quantidade ?'] == 2        ? 600        : $('n8n Form Trigger').item.json['Quantidade ?'] * 280  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3433ef17-adee-4a81-bc99-0348e1443e7e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -660,
        640
      ]
    },
    {
      "parameters": {},
      "id": "47fa786c-6ff1-4e1e-875f-1f269ff3a434",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2080,
        1840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields').item.json.preco  }}",
              "type": "number"
            },
            {
              "id": "3516e8ed-2061-40bb-a815-e222cc72deb2",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        560
      ],
      "id": "d16e59a2-8913-40e8-aed3-a13ebf88ac8a",
      "name": "Campos"
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor = $('Edit Fields1').item.json.preco; // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "18b53b46-649f-427a-8340-1f4b4f8cf387",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        100
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER PASS - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "57602788-7db3-4455-a327-3f5d9a098ab9",
      "name": "Cria pasta do cliente1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b9f7c585-2248-4b89-a56f-7b3d28e8e928",
      "name": "copia recibo para a pasta1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -860,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "={{    $('n8n Form Trigger').item.json['Quantidade ?'] == 1      ? 90      : $('n8n Form Trigger').item.json['Quantidade ?'] == 2        ? 160        : $('n8n Form Trigger').item.json['Quantidade ?'] * 2  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24069ef7-b3e2-42b6-90aa-cb3c4e0fc8d0",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields1').item.json.preco }}",
              "type": "number"
            },
            {
              "id": "363d5e04-585a-428c-8971-9dfe7379e629",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        20
      ],
      "id": "9b5413cd-1888-449c-8317-1dff8dd1e466",
      "name": "Campos1"
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor =( $('Edit Fields2').first().json.preco * $('n8n Form Trigger').first().json['Quantidade ?']); // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "36d1d278-0611-4b85-9507-24fe9ec19c1e",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1160
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER AUS - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "c3c7c09f-25b8-4fba-bff5-82237a2a0ff9",
      "name": "Cria pasta do cliente2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1300,
        1160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a37cd70a-1a8a-4b6b-a7d8-19e2ec503ffb",
      "name": "copia recibo para a pasta2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1020,
        1140
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "919830bd-fbb8-4a6c-abd5-40bcffba5371",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        1600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "=400",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "02c341b9-6bb1-4bb4-927f-885a89b6fee7",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        1160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields2').item.json.preco * $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "number"
            },
            {
              "id": "d1f1c577-e243-4bde-9273-4e8b3f481a4f",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1060
      ],
      "id": "65fbf969-dd03-48bc-aaa7-517faab717b0",
      "name": "Campos2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PDWQGz50J8ZmDxNZf19WJJJ2bWiY39CtiGFGeBgsIcw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1643742488,
          "mode": "list",
          "cachedResultName": "Janeiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PDWQGz50J8ZmDxNZf19WJJJ2bWiY39CtiGFGeBgsIcw/edit#gid=1643742488"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Controle de Pagamentos Megabuy"
          ],
          "schema": [
            {
              "id": "Controle de Pagamentos Megabuy",
              "displayName": "Controle de Pagamentos Megabuy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          },
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        1140
      ],
      "id": "e156492b-0fba-4809-9fbf-9f1066a2365f",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fzfV64LpzABP19xE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor =( $('Edit Fields3').first().json.preco * $('n8n Form Trigger').first().json['Quantidade ?']); // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "444b6525-a55e-4a14-831a-9f00d72f235e",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        1660
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER ESTA - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "569e1f61-064e-4249-8d68-6977fe7ce3e8",
      "name": "Cria pasta do cliente3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1400,
        1660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "797b24f2-5e3f-4792-a715-018d96db5e8d",
      "name": "copia recibo para a pasta3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1160,
        1660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "=160",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04abe83b-ea05-45ca-a65b-ed114612daef",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        1660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields3').item.json.preco }}",
              "type": "number"
            },
            {
              "id": "1c9bbc7e-3c08-4516-8253-2bbc35202f21",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        1580
      ],
      "id": "c13b0ade-e8f2-4c86-a59b-7f4544b8dfef",
      "name": "Campos3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f367dba-582b-44ab-9c88-f0f7413f6605",
              "leftValue": "={{ $json['Nome completo'] }}",
              "rightValue": "^[A-ZÀ-Ý][a-zà-ÿ]+(?: [A-ZÀ-Ý][a-zà-ÿ]+)+$",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9253f7ed-1005-4794-b17a-077bbed0d83f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2700,
        1580
      ]
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor =( $('Edit Fields4').first().json.preco * $('n8n Form Trigger').first().json['Quantidade ?']); // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "f3c79e93-ae42-448f-b56b-e7c6e65c704e",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        2060
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER ETA - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a3bfa527-ad22-4416-b64e-16f343132f9c",
      "name": "Cria pasta do cliente4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1460,
        2080
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "815ba6fc-f750-4d35-b4b6-93822a99f9fd",
      "name": "copia recibo para a pasta4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1160,
        2080
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "=160",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d5c44a2e-f837-44a6-86fc-49562e1ca51d",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        2060
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields4').item.json.preco  }}",
              "type": "number"
            },
            {
              "id": "b51623fa-6880-4974-b1fc-9dd3bb0835f2",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        2000
      ],
      "id": "e1e5fc72-f38b-4550-8e8f-c974e669c181",
      "name": "Campos4"
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor =( $('Edit Fields5').first().json.preco * $('n8n Form Trigger').first().json['Quantidade ?']); // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "8e722484-4e7c-4bf2-a77a-2e83a5a7216f",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        2460
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER CHN - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "de60604a-55b6-4993-8693-4da7a500fb42",
      "name": "Cria pasta do cliente5",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1420,
        2500
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4f96f2b5-f714-4385-a956-87da0a136574",
      "name": "copia recibo para a pasta5",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1080,
        2480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "=400",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "80c831b1-98d5-473a-8acd-95f5b1578c62",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        2420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields5').item.json.preco  }}",
              "type": "number"
            },
            {
              "id": "b856b319-4ce0-4e1b-8566-5fd1a25d8ec0",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        2400
      ],
      "id": "b558079c-ec80-4a8f-a487-8b60b18e7d41",
      "name": "Campos5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta1').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "={{ \n  $('n8n Form Trigger').item.json['Quantidade ?'] == 1 \n    ? 90 \n    : $('n8n Form Trigger').item.json['Quantidade ?'] == 2 \n      ? 160 \n      : $('n8n Form Trigger').item.json['Quantidade ?'] * 70\n}}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}"
            }
          ]
        }
      },
      "id": "f572cb71-235a-4273-9815-c8403231b41b",
      "name": "Google Docs1",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -100,
        220
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "Passaporte Brasileiro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pass"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c27a406d-88ea-4f78-b611-86ded1033140",
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "Visto Americano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "usa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f97597ba-9367-464e-a9e8-7854cea44185",
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "Visto Australiano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c231ffe-a865-4bcd-827d-149aefb5c6b4",
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "ESTA Americano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "esta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eced28c3-b1be-4aea-8431-f9f5d68defa6",
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "ETA Canadense",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb3f09d0-7593-47b3-8478-3c7a0340915b",
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "Visto Chines",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bde8a0ef-082c-4094-b8c8-80081224096d",
                    "leftValue": "={{ $json['Serviço contratado?'] }}",
                    "rightValue": "ETA UK ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "uk"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2140,
        1400
      ],
      "id": "335ce0e8-b344-499e-b1e1-0b11efb956c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta2').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?']* 400 }}",
              "matchCase": "={{ false }}"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}"
            }
          ]
        }
      },
      "id": "55b9ffac-c86a-4f70-9851-954a8ef7c8eb",
      "name": "Google Docs2",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        100,
        1260
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta3').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?']*160 }}"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "matchCase": "={{ false }}"
            }
          ]
        }
      },
      "id": "040742c0-26cd-4b62-aca6-898ce097b654",
      "name": "Google Docs3",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        20,
        1760
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta4').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?']*160 }}"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}"
            }
          ]
        }
      },
      "id": "7f909927-d5f6-4163-9a43-47d3b2306372",
      "name": "Google Docs4",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -160,
        2180
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta5').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?']*400 }}"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}"
            }
          ]
        }
      },
      "id": "5043432c-40da-4c7a-a72f-1477f550afa9",
      "name": "Google Docs5",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -60,
        2600
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85f6c1c7-5e39-4176-a8da-d32e0ac590d6",
              "name": "grupo",
              "value": "={{ $json['Quantidade ?'] > 1 ? '+' + ($json['Quantidade ?'] - 1) : '' }}\n\n",
              "type": "number"
            },
            {
              "id": "c5546eb0-5876-42d0-9088-3a13c8df4b04",
              "name": "Serviço contratado?",
              "value": "={{ $json['Serviço contratado?'] }}",
              "type": "string"
            },
            {
              "id": "1f2b1c3f-3bb7-4329-a34e-8c353a35d93c",
              "name": "Nome completo",
              "value": "={{ $json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "7c300598-5b37-483f-ac95-36923a373ddc",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "4cdb9716-801a-401b-a83d-2c16e3a4d3b8",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "9596f0a1-ff23-4ec9-9123-66703298ec24",
              "name": "whats",
              "value": "={{ $json.whats }}",
              "type": "string"
            },
            {
              "id": "5915ec0b-1b47-486b-a61b-2e3a3f87a387",
              "name": "Quantidade ?",
              "value": "={{ $json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "41e15b1d-cb0d-4b92-bf5e-d80456bf7e9f",
              "name": "Endereço completo",
              "value": "={{ $json['Endereço completo'] }}",
              "type": "string"
            },
            {
              "id": "7b7123ba-4ec3-4de4-ad45-1ed16642fde2",
              "name": "Forma pagamento",
              "value": "={{ $json['Forma pagamento'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2380,
        1480
      ],
      "id": "5efc44fc-d02a-4d7b-9e10-5febbecb2690",
      "name": "Edit Fields6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -280,
        220
      ],
      "id": "dae32334-e821-4d19-8d2e-de21b5a23b72",
      "name": "Wait",
      "webhookId": "b6cc1332-99aa-4a02-b208-4887c33e0603"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -220,
        760
      ],
      "id": "9db9b5ce-a37c-4be7-9965-7a5ff2e2007f",
      "name": "Wait1",
      "webhookId": "2ae39009-3717-4241-ab88-626b9f166340"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        1260
      ],
      "id": "5c5a059a-2015-4020-afee-7512b46bbdaf",
      "name": "Wait2",
      "webhookId": "5f68224e-c8f2-4212-b099-a3e27d7f12a0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -240,
        1820
      ],
      "id": "f2b352db-2e13-44c4-982a-a04f44be69a8",
      "name": "Wait3",
      "webhookId": "52541c60-3c65-4302-88f3-0e64b8e653a3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        2180
      ],
      "id": "a982e491-cd8f-46f0-8414-b8e2b74a4bc4",
      "name": "Wait4",
      "webhookId": "e6e834ae-0241-41c6-8cff-f910728e3820"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -300,
        2600
      ],
      "id": "982e26fc-d3d1-43cc-b63d-fed3ededaef0",
      "name": "Wait5",
      "webhookId": "e827a207-da88-4054-b3fc-099da4b97314"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        220,
        760
      ],
      "id": "36477911-63d7-4c69-9e9c-590873e9e39c",
      "name": "ChatWoot7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        760
      ],
      "id": "3c239706-7ea1-4e8f-b876-98d6e6d59556",
      "name": "If1"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        80,
        220
      ],
      "id": "904f0cd1-f704-4d5a-92c1-16fdc61089af",
      "name": "ChatWoot9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        220
      ],
      "id": "a96cfa2a-7a77-4b18-8294-a49ad3d92a69",
      "name": "If2"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        340,
        1260
      ],
      "id": "8b0ac535-9399-4e80-adf4-84920b1a0428",
      "name": "ChatWoot11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        1260
      ],
      "id": "fd3e1ae4-c087-41da-a113-cf2e63abf81a",
      "name": "If3"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        260,
        1740
      ],
      "id": "1088362b-f1f8-4c66-ba72-b319f156a23b",
      "name": "ChatWoot13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1720
      ],
      "id": "658447d1-58f0-4a40-8377-f76c848af294",
      "name": "If4"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        100,
        2160
      ],
      "id": "5accdf07-9ca9-4845-a350-bb540168b29e",
      "name": "ChatWoot15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        2160
      ],
      "id": "5ba9e62b-765c-4e06-8601-e3f7058a8c15",
      "name": "If5"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        160,
        2600
      ],
      "id": "30d1cd6c-8f7b-4eea-8e0e-2027f0b2db67",
      "name": "ChatWoot17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        2600
      ],
      "id": "43a64685-dbd9-4f11-a35d-001c7b557ca6",
      "name": "If6"
    },
    {
      "parameters": {
        "jsCode": "function numeroPorExtenso(numero) {\n    const unidades = [\"\", \"um\", \"dois\", \"três\", \"quatro\", \"cinco\", \"seis\", \"sete\", \"oito\", \"nove\"];\n    const especiais = [\"dez\", \"onze\", \"doze\", \"treze\", \"quatorze\", \"quinze\", \"dezesseis\", \"dezessete\", \"dezoito\", \"dezenove\"];\n    const dezenas = [\"\", \"\", \"vinte\", \"trinta\", \"quarenta\", \"cinquenta\", \"sessenta\", \"setenta\", \"oitenta\", \"noventa\"];\n    const centenas = [\"\", \"cento\", \"duzentos\", \"trezentos\", \"quatrocentos\", \"quinhentos\", \"seiscentos\", \"setecentos\", \"oitocentos\", \"novecentos\"];\n\n    if (numero === 0) return \"zero\";\n\n    let extenso = \"\";\n\n    if (numero >= 1000) {\n        const milhar = Math.floor(numero / 1000);\n        extenso += (milhar === 1 ? \"mil\" : numeroPorExtenso(milhar) + \" mil\");\n        numero %= 1000;\n    }\n\n    if (numero >= 100) {\n        const centena = Math.floor(numero / 100);\n        extenso += (extenso ? \" \" : \"\") + (centena === 1 && numero % 100 === 0 ? \"cem\" : centenas[centena]);\n        numero %= 100;\n    }\n\n    if (numero >= 20) {\n        const dezena = Math.floor(numero / 10);\n        extenso += (extenso ? \" e \" : \"\") + dezenas[dezena];\n        numero %= 10;\n    }\n\n    if (numero >= 10) {\n        extenso += (extenso ? \" e \" : \"\") + especiais[numero - 10];\n        return extenso;\n    }\n\n    if (numero > 0) {\n        extenso += (extenso ? \" e \" : \"\") + unidades[numero];\n    }\n\n    return extenso;\n}\n\nfunction valorPorExtenso(valor) {\n    const reais = Math.floor(valor);\n    const centavos = Math.round((valor - reais) * 100);\n\n    let extenso = numeroPorExtenso(reais) + (reais === 1 ? \" real\" : \" reais\");\n\n    if (centavos > 0) {\n        extenso += \" e \" + numeroPorExtenso(centavos) + (centavos === 1 ? \" centavo\" : \" centavos\");\n    }\n\n    return extenso;\n}\n\n// Exemplo de uso\nconst valor =( $('Edit Fields7').first().json.preco * $('n8n Form Trigger').first().json['Quantidade ?']); // Insira o valor que deseja converter\nconst x_pe = valorPorExtenso(valor);\nreturn { valorPorExtenso: x_pe };\n"
      },
      "id": "0b2e4ddf-666c-4f80-9b02-65a3bb7d4dc5",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        2900
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=#  FAZER ETA UK - {{ $json['Nome completo'] }} {{ $json.grupo }} - {{ $json.whats }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KDP889CRWkxR9-Hcx4Jq4Lu6bcf8lHlj",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1fcd70b7-6070-4688-9a8c-62b84aebdae4",
      "name": "Cria pasta do cliente6",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1460,
        2980
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1gQS2Hgu9VvjV8cUbXWW5WsI_IEO2EY-s2QT8xaSS9Hk",
          "mode": "id"
        },
        "name": "=recibo {{ $('n8n Form Trigger').item.json['Nome completo'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1ee25b26-f46b-4b33-84bd-af064a0acd96",
      "name": "copia recibo para a pasta6",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        2960
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tPsC1wU0S6BJLtnR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba176e7-285b-4302-93d1-81f115765c94",
              "name": "=preco",
              "value": "=160",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f43d722-353b-4b8a-ac85-b0924f7fd080",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        2900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91fa0ddd-94a2-45f9-9e7b-512778345698",
              "name": "Data",
              "value": "={{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}\n",
              "type": "string"
            },
            {
              "id": "f7dda837-a589-4072-8ac0-47a678ccfb0a",
              "name": "Qtdade",
              "value": "={{ $('n8n Form Trigger').item.json['Quantidade ?'] }}",
              "type": "string"
            },
            {
              "id": "95569727-077c-40e0-9d20-fc1231b80113",
              "name": "Forma Pgto",
              "value": "={{ $('n8n Form Trigger').item.json['Forma pagamento'] }}",
              "type": "string"
            },
            {
              "id": "10933a61-cf02-4581-978a-a915d38a8e9a",
              "name": "Nome completo",
              "value": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "b71a9245-a8f9-4c6a-a94c-22022bd63dff",
              "name": "Fone",
              "value": "={{ $('n8n Form Trigger').item.json.whats }}",
              "type": "string"
            },
            {
              "id": "2da9b29d-da38-42c2-8d1f-d60c5df5bbe0",
              "name": "E-mail",
              "value": "={{ $('n8n Form Trigger').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f8bfe5bc-4cec-4a8d-a8a7-715162a4b079",
              "name": "Valor",
              "value": "={{ $('Edit Fields7').item.json.preco  }}",
              "type": "number"
            },
            {
              "id": "b856b319-4ce0-4e1b-8566-5fd1a25d8ec0",
              "name": "Serviços",
              "value": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        2880
      ],
      "id": "fc531857-e819-4d52-bb9a-eb58753ff826",
      "name": "Campos6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('copia recibo para a pasta6').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{nome}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Nome completo'] }}",
              "matchCase": "={{ true }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cpf}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.CPF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{whats}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json.whats }}"
            },
            {
              "action": "replaceAll",
              "text": "{{qtdade}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{price}}",
              "replaceText": "= {{ $('n8n Form Trigger').item.json['Quantidade ?']*400 }}"
            },
            {
              "action": "replaceAll",
              "text": "{{data_pe}}",
              "replaceText": "={{ DateTime.now().setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('d \\'de\\' LLLL \\'de\\' yyyy') }}\n"
            },
            {
              "action": "replaceAll",
              "text": "{{x_pe}}",
              "replaceText": "={{ $json.valorPorExtenso }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servico}}",
              "replaceText": "={{ $('n8n Form Trigger').item.json['Serviço contratado?'] }}"
            }
          ]
        }
      },
      "id": "7fed00c5-bb79-490f-b1a9-62f5f51de21d",
      "name": "Google Docs6",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -100,
        3080
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cQ7MTspYcgHpbKT3",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -340,
        3080
      ],
      "id": "772781ff-06f0-49e6-9839-a325677aa673",
      "name": "Wait6",
      "webhookId": "e827a207-da88-4054-b3fc-099da4b97314"
    },
    {
      "parameters": {
        "baseUrl": "https://chat.megabuy.com.br",
        "accessToken": "AnrG4ZyUYhzeiewyWyuAVBwv",
        "resource": "contact",
        "accountId": "1",
        "operation": "contactSearch",
        "contactSearchQuery": "=+{{ '55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[-\\s]/g, '') }}"
      },
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        120,
        3080
      ],
      "id": "4bd2fb90-d0a6-4552-be8c-e882ad649173",
      "name": "ChatWoot18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47925f00-b26c-489a-8603-c03376d383db",
              "leftValue": "={{ $json.meta.count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        3080
      ],
      "id": "7275c650-533c-4533-9713-aa49f5fe9838",
      "name": "If7"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "=AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('Edit Fields6').item.json.email }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        640
      ],
      "id": "77b0596b-a8c4-4149-93a3-074864f1b81a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('Edit Fields6').item.json.email }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields2').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1140
      ],
      "id": "af7c242c-7037-4144-ad82-f2155c15881d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('ChatWoot13').item.json.payload[0].phone_number }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields3').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1600
      ],
      "id": "bef7e6f1-e5b7-48f9-9341-67c3e84060f9",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('Edit Fields6').item.json.email }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields4').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        2060
      ],
      "id": "ac4e3137-d29d-43bb-805a-dc131ad2ca26",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('Edit Fields6').item.json.email }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields5').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        2560
      ],
      "id": "f745c39e-105e-472e-bc2b-2be1113f8b4a",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('Edit Fields6').item.json.email }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields7').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        2980
      ],
      "id": "05ef1cbe-0b8e-4abf-b1d8-0c274fe0f737",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76ce8816-aa3c-4306-9d3a-7161698b64b1",
              "leftValue": "={{ $json['Forma pagamento'] }}",
              "rightValue": "PIX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        1180
      ],
      "id": "eb84768c-fb8f-4b6b-8651-d741e5ef9c74",
      "name": "Checar o pagamento"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VYPd9y2VcuL4ZMvF",
          "mode": "list",
          "cachedResultName": "Emissor de NF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1980,
        1060
      ],
      "id": "d03d482e-0621-462e-bd2a-b681af22bbcf",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chat.megabuy.com.br/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"email\":\"{{ $('Edit Fields6').item.json.email }}\",\n  \"phone_number\":\"{{ $json.payload[0].phone_number }}\",\n     \"inbox_id\": 1,\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\":\"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\":\"R$ {{ $('Edit Fields1').item.json.preco }},00\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        80
      ],
      "id": "954e5425-3fb6-4975-aff1-f182157461c6",
      "name": "atualiza"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields1').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        280
      ],
      "id": "bc006db5-ebf4-49a9-b84b-f0975c8957c4",
      "name": "cria"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        840
      ],
      "id": "fc2c2230-1305-4f09-bd43-da67398540f0",
      "name": "cria1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields2').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        1360
      ],
      "id": "c7a85e41-6558-4cd4-911d-1ca4cb64969a",
      "name": "cria2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields3').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1800
      ],
      "id": "d2d73928-77fe-4f93-a6c9-d519bb96cbac",
      "name": "cria3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields4').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        2260
      ],
      "id": "2694d4bb-d88f-48ec-a5b9-a51c36514c54",
      "name": "cria4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields5').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        2760
      ],
      "id": "bd0f4fa7-f833-4dcd-9af6-902d9477be2e",
      "name": "cria5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.megabuy.com.br/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "AnrG4ZyUYhzeiewyWyuAVBwv"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Edit Fields6').item.json['Nome completo'] }}\",\n  \"inbox_id\": 3,\n  \"source_id\": \"\",\n  \"phone_number\": \"{{ '+55' + $('Edit Fields6').item.json.whats.replace(/^55/, '').replace(/[^0-9]/g, '') }}\",\n  \"custom_attributes\": {\n    \"cpf\": \"{{ new Date($('n8n Form Trigger').item.json.submittedAt).toLocaleString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}\",\n    \"servico\": \"{{ $('Edit Fields6').item.json['Serviço contratado?'] }}\",\n    \"valor\": \"R$ {{ $('Edit Fields7').item.json.preco }},00\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        3180
      ],
      "id": "5e70e44f-a6ad-4a92-854d-a89fa0d1ffaf",
      "name": "cria6"
    },
    {
      "parameters": {
        "baseUrl": "https://connect.megabuy.com.br",
        "token": "Hqrp17kLPwCkHscYvBfvEbBy",
        "method": "sendtext",
        "text": "Olá! Sou o assistente da Megabuy Vistos. Adicione nosso contato 📲 para garantir uma comunicação rápida e prática, durante  todo o seu processo!",
        "chatid": "={{ $json.payload.contact.phone_number }}@s.whatsapp.net\n"
      },
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        2300,
        1620
      ],
      "id": "4279a72f-a869-4993-ae34-e002b96ef470",
      "name": "Quepasa"
    },
    {
      "parameters": {},
      "id": "96652d1e-eb7e-43b1-a677-5f29759b1eb5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1900,
        760
      ]
    },
    {
      "parameters": {
        "baseUrl": "https://connect.megabuy.com.br",
        "token": "Hqrp17kLPwCkHscYvBfvEbBy",
        "method": "sendtext",
        "text": "Olá! Sou o assistente da Megabuy Vistos. Adicione nosso contato 📲 para garantir uma comunicação rápida e prática, durante  todo o seu processo!",
        "chatid": "={{ $json.payload.identifier }}"
      },
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        2180,
        760
      ],
      "id": "b49dd537-d4c3-4773-925a-72a84287402a",
      "name": "Quepasa1"
    }
  ],
  "pinData": {
    "n8n Form Trigger": [
      {
        "json": {
          "Serviço contratado?": "ETA UK ",
          "Nome completo": "ANTONIO FREDERICO CARVALHEIRA DE MENDONÇA",
          "CPF": "004.602.304-68",
          "email": "A.F.LAWYER@AASP.ORG.BR",
          "whats": "11999046054",
          "Quantidade ?": "2",
          "Endereço completo": "ALAMEDA FRANÇA, 60  ALPHA 1 CEP 06474070",
          "Forma pagamento": "Crédito",
          "submittedAt": "2025-01-27T15:52:08.136-03:00",
          "formMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-17T21:12:21.839Z",
      "updatedAt": "2025-01-17T21:12:21.839Z",
      "id": "XpwyFtjWBec4i8cF",
      "name": "MEGABUY"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-27T19:27:37.953Z",
  "versionId": "191c6c81-ad33-4d49-8889-bbbc8a9a4623"
}